In [7]:
%pip install matplotlib
%pip install scikit-learn

Requirement already satisfied: matplotlib in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from scikit-learn) (2.2.5)
Requirement already satisfied: scipy>=1.6.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from seaborn) (2.2.5)
Requirement already satisfied: pandas>=1.2 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from seaborn) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /anaconda/envs/jupyter_env/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np

In [3]:
def basic_eda(df):
    print(df)
    print("----------------------------------INFO-----------------------------------------")
    print(df.info())
    print("----------------------------------Columns--------------------------------------")
    print(df.columns)
    print("----------------------------------Data Types-----------------------------------")
    print(df.dtypes)
    print("-------------------------------Missing Values----------------------------------")
    print(df.isnull().sum())
    print("-------------------------------NULL values-------------------------------------")
    print(df.isna().sum())
    print("------------------------------Shape Of Data------------------------------------")
    print(df.shape)
    print("-------------------------Unique values per categorical column-------------------")
    cat_cols = df.select_dtypes(include=['object', 'category']).columns
    for col in cat_cols:
        print(f"\nColumn '{col}' unique values:")
        print(df[col].unique())
    print("=============================================================================== \n")

In [4]:
train = pd.read_csv("train.csv", low_memory=False)
train['date'] = pd.to_datetime(train['date'])

test = pd.read_csv("test.csv", low_memory=False)
test['date'] = pd.to_datetime(test['date'])

stores = pd.read_csv("stores.csv")

items = pd.read_csv('items.csv')

holidays_events = pd.read_csv("holidays_events.csv")
holidays_events['date'] = pd.to_datetime(holidays_events['date'])

transactions = pd.read_csv("transactions.csv")
transactions['date'] = pd.to_datetime(transactions['date'])

oil = pd.read_csv("oil.csv")
oil['date'] = pd.to_datetime(oil['date'])

In [5]:
# Basic EDA
print("====================================Train Data====================================")
basic_eda(train)

====================================Train Data====================================
                  id       date  store_nbr  item_nbr  unit_sales onpromotion
0                  0 2013-01-01         25    103665         7.0         NaN
1                  1 2013-01-01         25    105574         1.0         NaN
2                  2 2013-01-01         25    105575         2.0         NaN
3                  3 2013-01-01         25    108079         1.0         NaN
4                  4 2013-01-01         25    108701         1.0         NaN
...              ...        ...        ...       ...         ...         ...
125497035  125497035 2017-08-15         54   2089339         4.0       False
125497036  125497036 2017-08-15         54   2106464         1.0        True
125497037  125497037 2017-08-15         54   2110456       192.0       False
125497038  125497038 2017-08-15         54   2113914       198.0        True
125497039  125497039 2017-08-15         54   2116416         2.0       False

[125497040 rows x 6 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   item_nbr     int64
 4   unit_sales   float64
 5   onpromotion  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 5.6+ GB
None
----------------------------------Columns--------------------------------------
Index(['id', 'date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion'], dtype='object')
----------------------------------Data Types-----------------------------------
id                      int64
date           datetime64[ns]
store_nbr               int64
item_nbr                int64
unit_sales            float64
onpromotion            object
dtype: object
-------------------------------Missing Values----------------------------------
id                    0
date                  0
store_nbr             0
item_nbr              0
unit_sales            0
onpromotion    21657651
dtype: int64
-------------------------------NULL values-------------------------------------
id                    0
date                  0
store_nbr             0
item_nbr              0
unit_sales            0
onpromotion    21657651
dtype: int64
------------------------------Shape Of Data------------------------------------
(125497040, 6)
-------------------------Unique values per categorical column-------------------

Column 'onpromotion' unique values:
[nan False True]
===============================================================================

In [6]:
# Basic EDA
print("====================================Test Data====================================")
basic_eda(test)

====================================Test Data====================================
                id       date  store_nbr  item_nbr  onpromotion
0        125497040 2017-08-16          1     96995        False
1        125497041 2017-08-16          1     99197        False
2        125497042 2017-08-16          1    103501        False
3        125497043 2017-08-16          1    103520        False
4        125497044 2017-08-16          1    103665        False
...            ...        ...        ...       ...          ...
3370459  128867499 2017-08-31         54   2132163        False
3370460  128867500 2017-08-31         54   2132318        False
3370461  128867501 2017-08-31         54   2132945        False
3370462  128867502 2017-08-31         54   2132957        False
3370463  128867503 2017-08-31         54   2134244        False

[3370464 rows x 5 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3370464 entries, 0 to 3370463
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   item_nbr     int64
 4   onpromotion  bool
dtypes: bool(1), datetime64[ns](1), int64(3)
memory usage: 106.1 MB
None
----------------------------------Columns--------------------------------------
Index(['id', 'date', 'store_nbr', 'item_nbr', 'onpromotion'], dtype='object')
----------------------------------Data Types-----------------------------------
id                      int64
date           datetime64[ns]
store_nbr               int64
item_nbr                int64
onpromotion              bool
dtype: object
-------------------------------Missing Values----------------------------------
id             0
date           0
store_nbr      0
item_nbr       0
onpromotion    0
dtype: int64
-------------------------------NULL values-------------------------------------
id             0
date           0
store_nbr      0
item_nbr       0
onpromotion    0
dtype: int64
------------------------------Shape Of Data------------------------------------
(3370464, 5)
-------------------------Unique values per categorical column-------------------
===============================================================================

In [7]:
# Basic EDA
print("=================================Holidays events==================================")
basic_eda(holidays_events)

=================================Holidays events==================================
          date        type    locale locale_name  \
0   2012-03-02     Holiday     Local       Manta
1   2012-04-01     Holiday  Regional    Cotopaxi
2   2012-04-12     Holiday     Local      Cuenca
3   2012-04-14     Holiday     Local    Libertad
4   2012-04-21     Holiday     Local    Riobamba
..         ...         ...       ...         ...
345 2017-12-22  Additional  National     Ecuador
346 2017-12-23  Additional  National     Ecuador
347 2017-12-24  Additional  National     Ecuador
348 2017-12-25     Holiday  National     Ecuador
349 2017-12-26  Additional  National     Ecuador

                       description  transferred
0               Fundacion de Manta        False
1    Provincializacion de Cotopaxi        False
2              Fundacion de Cuenca        False
3        Cantonizacion de Libertad        False
4        Cantonizacion de Riobamba        False
..                             ...          ...
345                      Navidad-3        False
346                      Navidad-2        False
347                      Navidad-1        False
348                        Navidad        False
349                      Navidad+1        False

[350 rows x 6 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    datetime64[ns]
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), datetime64[ns](1), object(4)
memory usage: 14.1+ KB
None
----------------------------------Columns--------------------------------------
Index(['date', 'type', 'locale', 'locale_name', 'description', 'transferred'], dtype='object')
----------------------------------Data Types-----------------------------------
date           datetime64[ns]
type                   object
locale                 object
locale_name            object
description            object
transferred              bool
dtype: object
-------------------------------Missing Values----------------------------------
date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64
-------------------------------NULL values-------------------------------------
date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64
------------------------------Shape Of Data------------------------------------
(350, 6)
-------------------------Unique values per categorical column-------------------

Column 'type' unique values:
['Holiday' 'Transfer' 'Additional' 'Bridge' 'Work Day' 'Event']

Column 'locale' unique values:
['Local' 'Regional' 'National']

Column 'locale_name' unique values:
['Manta' 'Cotopaxi' 'Cuenca' 'Libertad' 'Riobamba' 'Puyo' 'Guaranda'
 'Imbabura' 'Latacunga' 'Machala' 'Santo Domingo' 'El Carmen' 'Cayambe'
 'Esmeraldas' 'Ecuador' 'Ambato' 'Ibarra' 'Quevedo'
 'Santo Domingo de los Tsachilas' 'Santa Elena' 'Quito' 'Loja' 'Salinas'
 'Guayaquil']

Column 'description' unique values:
['Fundacion de Manta' 'Provincializacion de Cotopaxi'
 'Fundacion de Cuenca' 'Cantonizacion de Libertad'
 'Cantonizacion de Riobamba' 'Cantonizacion del Puyo'
 'Cantonizacion de Guaranda' 'Provincializacion de Imbabura'
 'Cantonizacion de Latacunga' 'Fundacion de Machala'
 'Fundacion de Santo Domingo' 'Cantonizacion de El Carmen'
 'Cantonizacion de Cayambe' 'Fundacion de Esmeraldas'
 'Primer Grito de Independencia' 'Fundacion de Riobamba'
 'Fundacion de Ambato' 'Fundacion de Ibarra' 'Cantonizacion de Quevedo'
 'Independencia de Guayaquil' 'Traslado Independencia de Guayaquil'
 'Dia de Difuntos' 'Independencia de Cuenca'
 'Provincializacion de Santo Domingo' 'Provincializacion Santa Elena'
 'Independencia de Guaranda' 'Independencia de Latacunga'
 'Independencia de Ambato' 'Fundacion de Quito-1' 'Fundacion de Quito'
 'Fundacion de Loja' 'Navidad-4' 'Cantonizacion de Salinas' 'Navidad-3'
 'Navidad-2' 'Puente Navidad' 'Navidad-1' 'Navidad' 'Navidad+1'
 'Puente Primer dia del ano' 'Primer dia del ano-1' 'Primer dia del ano'
 'Recupero puente Navidad' 'Recupero puente primer dia del ano' 'Carnaval'
 'Viernes Santo' 'Dia del Trabajo' 'Dia de la Madre-1' 'Dia de la Madre'
 'Batalla de Pichincha' 'Fundacion de Guayaquil-1'
 'Fundacion de Guayaquil' 'Inauguracion Mundial de futbol Brasil'
 'Mundial de futbol Brasil: Ecuador-Suiza'
 'Mundial de futbol Brasil: Ecuador-Honduras'
 'Mundial de futbol Brasil: Ecuador-Francia'
 'Mundial de futbol Brasil: Octavos de Final'
 'Mundial de futbol Brasil: Cuartos de Final'
 'Mundial de futbol Brasil: Semifinales'
 'Mundial de futbol Brasil: Tercer y cuarto lugar'
 'Mundial de futbol Brasil: Final' 'Black Friday' 'Cyber Monday'
 'Recupero Puente Navidad' 'Recupero Puente Primer dia del ano'
 'Terremoto Manabi' 'Terremoto Manabi+1' 'Terremoto Manabi+2'
 'Terremoto Manabi+3' 'Terremoto Manabi+4' 'Terremoto Manabi+5'
 'Terremoto Manabi+6' 'Terremoto Manabi+7' 'Terremoto Manabi+8'
 'Terremoto Manabi+9' 'Terremoto Manabi+10' 'Terremoto Manabi+11'
 'Terremoto Manabi+12' 'Terremoto Manabi+13' 'Terremoto Manabi+14'
 'Terremoto Manabi+15' 'Terremoto Manabi+16' 'Terremoto Manabi+17'
 'Terremoto Manabi+18' 'Terremoto Manabi+19' 'Terremoto Manabi+20'
 'Terremoto Manabi+21' 'Terremoto Manabi+22' 'Terremoto Manabi+23'
 'Terremoto Manabi+24' 'Terremoto Manabi+25' 'Terremoto Manabi+26'
 'Terremoto Manabi+27' 'Terremoto Manabi+28' 'Terremoto Manabi+29'
 'Terremoto Manabi+30' 'Traslado Batalla de Pichincha'
 'Traslado Fundacion de Guayaquil'
 'Traslado Primer Grito de Independencia' 'Puente Dia de Difuntos'
 'Recupero Puente Dia de Difuntos' 'Traslado Primer dia del ano'
 'Traslado Fundacion de Quito']
===============================================================================

In [8]:
# Basic EDA
print("================================Transactions data=================================")
basic_eda(transactions)

================================Transactions data=================================
            date  store_nbr  transactions
0     2013-01-01         25           770
1     2013-01-02          1          2111
2     2013-01-02          2          2358
3     2013-01-02          3          3487
4     2013-01-02          4          1922
...          ...        ...           ...
83483 2017-08-15         50          2804
83484 2017-08-15         51          1573
83485 2017-08-15         52          2255
83486 2017-08-15         53           932
83487 2017-08-15         54           802

[83488 rows x 3 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  datetime64[ns]
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.9 MB
None
----------------------------------Columns--------------------------------------
Index(['date', 'store_nbr', 'transactions'], dtype='object')
----------------------------------Data Types-----------------------------------
date            datetime64[ns]
store_nbr                int64
transactions             int64
dtype: object
-------------------------------Missing Values----------------------------------
date            0
store_nbr       0
transactions    0
dtype: int64
-------------------------------NULL values-------------------------------------
date            0
store_nbr       0
transactions    0
dtype: int64
------------------------------Shape Of Data------------------------------------
(83488, 3)
-------------------------Unique values per categorical column-------------------
===============================================================================

In [9]:
# Basic EDA
print("===================================Stores data====================================")
basic_eda(stores)

===================================Stores data====================================
    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB
None
----------------------------------Columns--------------------------------------
Index(['store_nbr', 'city', 'state', 'type', 'cluster'], dtype='object')
----------------------------------Data Types-----------------------------------
store_nbr     int64
city         object
state        object
type         object
cluster       int64
dtype: object
-------------------------------Missing Values----------------------------------
store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64
-------------------------------NULL values-------------------------------------
store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64
------------------------------Shape Of Data------------------------------------
(54, 5)
-------------------------Unique values per categorical column-------------------

Column 'city' unique values:
['Quito' 'Santo Domingo' 'Cayambe' 'Latacunga' 'Riobamba' 'Ibarra'
 'Guaranda' 'Puyo' 'Ambato' 'Guayaquil' 'Salinas' 'Daule' 'Babahoyo'
 'Quevedo' 'Playas' 'Libertad' 'Cuenca' 'Loja' 'Machala' 'Esmeraldas'
 'Manta' 'El Carmen']

Column 'state' unique values:
['Pichincha' 'Santo Domingo de los Tsachilas' 'Cotopaxi' 'Chimborazo'
 'Imbabura' 'Bolivar' 'Pastaza' 'Tungurahua' 'Guayas' 'Santa Elena'
 'Los Rios' 'Azuay' 'Loja' 'El Oro' 'Esmeraldas' 'Manabi']

Column 'type' unique values:
['D' 'B' 'C' 'E' 'A']
===============================================================================

In [10]:
# Basic EDA
print("=====================================Oil data=====================================")
basic_eda(oil)

=====================================Oil data=====================================
           date  dcoilwtico
0    2013-01-01         NaN
1    2013-01-02       93.14
2    2013-01-03       92.97
3    2013-01-04       93.12
4    2013-01-07       93.20
...         ...         ...
1213 2017-08-25       47.65
1214 2017-08-28       46.40
1215 2017-08-29       46.46
1216 2017-08-30       45.96
1217 2017-08-31       47.26

[1218 rows x 2 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   datetime64[ns]
 1   dcoilwtico  1175 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.2 KB
None
----------------------------------Columns--------------------------------------
Index(['date', 'dcoilwtico'], dtype='object')
----------------------------------Data Types-----------------------------------
date          datetime64[ns]
dcoilwtico           float64
dtype: object
-------------------------------Missing Values----------------------------------
date           0
dcoilwtico    43
dtype: int64
-------------------------------NULL values-------------------------------------
date           0
dcoilwtico    43
dtype: int64
------------------------------Shape Of Data------------------------------------
(1218, 2)
-------------------------Unique values per categorical column-------------------
===============================================================================

In [11]:
# Basic EDA
print("====================================Items Data====================================")
basic_eda(items)

====================================Items Data====================================
      item_nbr            family  class  perishable
0        96995         GROCERY I   1093           0
1        99197         GROCERY I   1067           0
2       103501          CLEANING   3008           0
3       103520         GROCERY I   1028           0
4       103665      BREAD/BAKERY   2712           1
...        ...               ...    ...         ...
4095   2132318         GROCERY I   1002           0
4096   2132945         GROCERY I   1026           0
4097   2132957         GROCERY I   1068           0
4098   2134058         BEVERAGES   1124           0
4099   2134244  LIQUOR,WINE,BEER   1364           0

[4100 rows x 4 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_nbr    4100 non-null   int64
 1   family      4100 non-null   object
 2   class       4100 non-null   int64
 3   perishable  4100 non-null   int64
dtypes: int64(3), object(1)
memory usage: 128.2+ KB
None
----------------------------------Columns--------------------------------------
Index(['item_nbr', 'family', 'class', 'perishable'], dtype='object')
----------------------------------Data Types-----------------------------------
item_nbr       int64
family        object
class          int64
perishable     int64
dtype: object
-------------------------------Missing Values----------------------------------
item_nbr      0
family        0
class         0
perishable    0
dtype: int64
-------------------------------NULL values-------------------------------------
item_nbr      0
family        0
class         0
perishable    0
dtype: int64
------------------------------Shape Of Data------------------------------------
(4100, 4)
-------------------------Unique values per categorical column-------------------

Column 'family' unique values:
['GROCERY I' 'CLEANING' 'BREAD/BAKERY' 'DELI' 'POULTRY' 'EGGS'
 'PERSONAL CARE' 'LINGERIE' 'BEVERAGES' 'AUTOMOTIVE' 'DAIRY' 'GROCERY II'
 'MEATS' 'FROZEN FOODS' 'HOME APPLIANCES' 'SEAFOOD' 'PREPARED FOODS'
 'LIQUOR,WINE,BEER' 'BEAUTY' 'HARDWARE' 'LAWN AND GARDEN' 'PRODUCE'
 'HOME AND KITCHEN II' 'HOME AND KITCHEN I' 'MAGAZINES' 'HOME CARE'
 'PET SUPPLIES' 'BABY CARE' 'SCHOOL AND OFFICE SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'CELEBRATION' 'LADIESWEAR' 'BOOKS']
===============================================================================

In [12]:
# Renaming columns for consistency
train.rename(columns={'unit_sales': 'Sales', 'item_nbr': 'Product', 'store_nbr': 'Store', 'onpromotion': 'OnPromotion'}, inplace=True)

test.rename(columns={ 'item_nbr': 'Product', 'store_nbr': 'Store', 'onpromotion': 'OnPromotion'}, inplace=True)

stores.rename(columns={'store_nbr': 'Store', 'city':'City', 'state': 'State', 'type':'StoreType',  'cluster':'StoreCluster'}, inplace=True)

transactions.rename(columns={'transactions':'Transactions', 'store_nbr':'Store'}, inplace=True)

oil.rename(columns={"dcoilwtico": "OilPrice"}, inplace=True)

items.rename(columns={'item_nbr':'Product', 'family':'ProductFamily', 'class':'ProductClass', 'perishable':'IsPerishable'}, inplace=True )

In [5]:
# Generated store capacity (in units) since missing and needed for use in stock optimization and product distribution
store_capacities = [
    2825000, 2825000, 2700000, 2725000, 260000, 2825000, 2700000, 2700000, 6360000, 1150000,
    6360000, 1150000, 1150000, 1070000, 1150000, 1030000, 1120000, 6960000, 1150000, 6360000,
    6360000, 1070000, 297500, 252500, 275000, 252500, 165000, 165000, 1030000, 6600000,
    1030000, 1030000, 1030000, 6360000, 1030000, 255000, 260000, 6360000, 1030000, 260000,
    255000, 255000, 165000, 12600000, 13320000, 13680000, 13680000, 13680000, 13320000, 13680000,
    14040000, 13320000, 2825000, 1030000
]

stores['StoreCapacity'] = store_capacities

In [14]:
# Drop the holidays with 'transferred' = true because they weren't celebrated on those days
# (the dates are normal day) but on the days that say 'type' = transferred
holidays = holidays_events.drop(holidays_events[holidays_events['transferred'] == True].index)
holidays["IsHoliday"] = 1
holidays = holidays [["date", "IsHoliday"]].drop_duplicates() # Drop dupe dates

In [3]:
# Generate a complete date range since some dates missing
full_dates = pd.date_range(start="2013-01-01", end="2017-08-31")
full_oil = pd.DataFrame({'date': full_dates})

oil = pd.merge(full_oil, oil, on='date', how='left')

oil.sort_values('date', inplace=True)
oil.reset_index(drop=True, inplace=True)

# Fill in null values
oil["OilPrice"] = oil["OilPrice"].ffill().bfill() # added back filling since first date empty

In [15]:
# Fill NaN with 'False' first and then map to 0 and 1
train['OnPromotion'] = train['OnPromotion'].fillna(False).astype(bool).astype(int)
test['OnPromotion'] = test['OnPromotion'].fillna(False).astype(bool).astype(int)

/tmp/ipykernel_3051/1121891112.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['OnPromotion'] = train['OnPromotion'].fillna(False).astype(bool).astype(int)

In [16]:
train['OnPromotion'].value_counts()

OnPromotion
0    117686418
1      7810622
Name: count, dtype: int64

In [17]:
test['OnPromotion'].value_counts()

OnPromotion
0    3171867
1     198597
Name: count, dtype: int64

In [18]:
print('Min date from train set: %s' % train['date'].min().date())
print('Max date from train set: %s' % train['date'].max().date())

print('Min date from test set: %s' % test['date'].min().date())
print('Max date from test set: %s' % test['date'].max().date())

print('Min date from transaction set: %s' % transactions['date'].min().date())
print('Max date from transaction set: %s' % transactions['date'].max().date())

# Test dates are missing in transactions, since want to use transactions as input features for predicting sales
# it is necessary to forecast transactions as well initially. Filling in these missing values ensures
# the test dataset has realistic transaction data, preventing zeros or missing values from hurting sales prediction accuracy.

Min date from train set: 2013-01-01
Max date from train set: 2017-08-15
Min date from test set: 2017-08-16
Max date from test set: 2017-08-31
Min date from transaction set: 2013-01-01
Max date from transaction set: 2017-08-15

In [19]:
# Merge first with items to get product families and group products per store per date by product family
train_merged = train.merge(items, on="Product", how="left")
test_merged = test.merge(items, on="Product", how="left")

# Group by date store product family to reduce dataset due to big size but also to have a more meaningfull output 
# such as product family due to the items dataset having only product id and not product name
train_merged = train_merged.groupby(['date', 'Store', 'ProductFamily'], as_index=False).agg({
    'Sales': 'sum',
    'OnPromotion': 'sum',
})

test_merged = test_merged.groupby(['date', 'Store', 'ProductFamily'], as_index=False).agg({
    'OnPromotion': 'sum'
})

products = items.groupby(['ProductFamily'], as_index=False).agg({
    'IsPerishable': 'max'
})

train_merged['OnPromotion'] = train_merged['OnPromotion'].astype('Int64')
test_merged['OnPromotion'] = test_merged['OnPromotion'].astype('Int64')

In [20]:
train_merged['OnPromotion'].value_counts()

OnPromotion
0      1450574
1       174551
2        79386
3        45862
4        31659
        ...
263          1
591          1
248          1
519          1
425          1
Name: count, Length: 362, dtype: Int64

In [21]:
test_merged['OnPromotion'].value_counts()

OnPromotion
0      15943
1       2542
2       1102
3        648
10       557
       ...
231        1
258        1
213        1
111        1
592        1
Name: count, Length: 212, dtype: Int64

In [22]:
# Make sure that each store has no missing dates and no missing products since needed for times series model.
# if there are missing data, it implies no sales on that date so missing values will be set to 0.
product_families = products['ProductFamily'].unique()

dates_train = pd.date_range(start='2013-01-01', end='2017-08-15')
dates_test = pd.date_range(start='2017-08-16', end='2017-08-31')

all_stores = stores['Store'].unique()

# Create dataframe having all dates, stores, products combinations
df_train = pd.DataFrame(index=(pd.MultiIndex.from_product([dates_train, all_stores, product_families], names=['date', 'Store', 'ProductFamily']))).reset_index()
df_test = pd.DataFrame(index=(pd.MultiIndex.from_product([dates_test, all_stores, product_families], names=['date', 'Store', 'ProductFamily']))).reset_index()

# Merging with original train dataset to add the missing data
train_merged = pd.merge(df_train, train_merged, on=['date', 'Store', 'ProductFamily'], how='left')
test_merged = pd.merge(df_test, test_merged, on=['date', 'Store', 'ProductFamily'], how='left')

print(train_merged['Sales'].isnull().any())
print(train_merged['Sales'].isnull().sum())

print(train_merged['OnPromotion'].isnull().any())
print(train_merged['OnPromotion'].isnull().sum())

print(test_merged['OnPromotion'].isnull().any())
print(test_merged['OnPromotion'].isnull().sum())

True
946113
True
946113
False
0

In [23]:
# Fill missing data with 0
train_merged['Sales'] = train_merged['Sales'].fillna(0)

train_merged['OnPromotion'] = train_merged['OnPromotion'].fillna(0)
test_merged['OnPromotion'] = test_merged['OnPromotion'].fillna(0)

In [24]:
# Extract time features for time-series and seasonality trends
train_merged['Year'] = train_merged['date'].dt.year
train_merged['Month'] = train_merged['date'].dt.month
train_merged['Day']=train_merged['date'].dt.day
train_merged['DayOfWeek'] = train_merged['date'].dt.dayofweek

test_merged['Year'] = test_merged['date'].dt.year
test_merged['Month'] = test_merged['date'].dt.month
test_merged['Day']=test_merged['date'].dt.day
test_merged['DayOfWeek'] = test_merged['date'].dt.dayofweek

In [25]:
train_merged

,date,Store,ProductFamily,Sales,OnPromotion,Year,Month,Day,DayOfWeek
0,2013-01-01,1,AUTOMOTIVE,0.000,0,2013,1,1,1
1,2013-01-01,1,BABY CARE,0.000,0,2013,1,1,1
2,2013-01-01,1,BEAUTY,0.000,0,2013,1,1,1
3,2013-01-01,1,BEVERAGES,0.000,0,2013,1,1,1
4,2013-01-01,1,BOOKS,0.000,0,2013,1,1,1
...,...,...,...,...,...,...,...,...,...
3008011,2017-08-15,54,POULTRY,59.619,0,2017,8,15,1
3008012,2017-08-15,54,PREPARED FOODS,94.000,0,2017,8,15,1
3008013,2017-08-15,54,PRODUCE,915.371,76,2017,8,15,1
3008014,2017-08-15,54,SCHOOL AND OFFICE SUPPLIES,0.000,0,2017,8,15,1
3008015,2017-08-15,54,SEAFOOD,3.000,0,2017,8,15,1

In [26]:
test_merged

,date,Store,ProductFamily,OnPromotion,Year,Month,Day,DayOfWeek
0,2017-08-16,1,AUTOMOTIVE,0,2017,8,16,2
1,2017-08-16,1,BABY CARE,0,2017,8,16,2
2,2017-08-16,1,BEAUTY,2,2017,8,16,2
3,2017-08-16,1,BEVERAGES,20,2017,8,16,2
4,2017-08-16,1,BOOKS,0,2017,8,16,2
...,...,...,...,...,...,...,...,...
28507,2017-08-31,54,POULTRY,0,2017,8,31,3
28508,2017-08-31,54,PREPARED FOODS,0,2017,8,31,3
28509,2017-08-31,54,PRODUCE,1,2017,8,31,3
28510,2017-08-31,54,SCHOOL AND OFFICE SUPPLIES,0,2017,8,31,3
28511,2017-08-31,54,SEAFOOD,0,2017,8,31,3

In [27]:
# Merge the rest of the data 
# Not merging with transactions since need to forecast test dates transactions
# No need to merge with store dataset since model for demand forecasting gonna be trained by store
# and essentially the store columns would be identical for all sequence and redundant/unnecessary

train_merged = train_merged.merge(products, on="ProductFamily", how="left")
test_merged = test_merged.merge(products, on="ProductFamily", how="left")

train_merged = train_merged.merge(holidays, on=["date"], how="left")
test_merged = test_merged.merge(holidays, on=["date"], how="left")

train_merged = train_merged.merge(oil, on=["date"], how="left")
test_merged = test_merged.merge(oil, on=["date"], how="left")

In [28]:
# Fill null values from the merge
# If is_holiday is NaN it means it is a normal day so fill value with 0
train_merged['IsHoliday'] = train_merged['IsHoliday'].fillna(0)
test_merged['IsHoliday'] = test_merged['IsHoliday'].fillna(0)

# Fill the empty oil_price dates with the previous day,
# since no price data for the date, it implies oil price unchanged
train_merged["OilPrice"] = train_merged["OilPrice"].ffill()
test_merged["OilPrice"] = test_merged["OilPrice"].ffill()

In [29]:
# Basic EDA
print("====================================Merged Train Data====================================")
basic_eda(train_merged)

====================================Merged Train Data====================================
              date  Store               ProductFamily    Sales  OnPromotion  \
0       2013-01-01      1                  AUTOMOTIVE    0.000            0
1       2013-01-01      1                   BABY CARE    0.000            0
2       2013-01-01      1                      BEAUTY    0.000            0
3       2013-01-01      1                   BEVERAGES    0.000            0
4       2013-01-01      1                       BOOKS    0.000            0
...            ...    ...                         ...      ...          ...
3008011 2017-08-15     54                     POULTRY   59.619            0
3008012 2017-08-15     54              PREPARED FOODS   94.000            0
3008013 2017-08-15     54                     PRODUCE  915.371           76
3008014 2017-08-15     54  SCHOOL AND OFFICE SUPPLIES    0.000            0
3008015 2017-08-15     54                     SEAFOOD    3.000            0

         Year  Month  Day  DayOfWeek  IsPerishable  IsHoliday  OilPrice
0        2013      1    1          1             0        1.0     93.14
1        2013      1    1          1             0        1.0     93.14
2        2013      1    1          1             0        1.0     93.14
3        2013      1    1          1             0        1.0     93.14
4        2013      1    1          1             0        1.0     93.14
...       ...    ...  ...        ...           ...        ...       ...
3008011  2017      8   15          1             1        1.0     47.57
3008012  2017      8   15          1             1        1.0     47.57
3008013  2017      8   15          1             1        1.0     47.57
3008014  2017      8   15          1             0        1.0     47.57
3008015  2017      8   15          1             1        1.0     47.57

[3008016 rows x 12 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008016 entries, 0 to 3008015
Data columns (total 12 columns):
 #   Column         Dtype
---  ------         -----
 0   date           datetime64[ns]
 1   Store          int64
 2   ProductFamily  object
 3   Sales          float64
 4   OnPromotion    Int64
 5   Year           int32
 6   Month          int32
 7   Day            int32
 8   DayOfWeek      int32
 9   IsPerishable   int64
 10  IsHoliday      float64
 11  OilPrice       float64
dtypes: Int64(1), datetime64[ns](1), float64(3), int32(4), int64(2), object(1)
memory usage: 232.4+ MB
None
----------------------------------Columns--------------------------------------
Index(['date', 'Store', 'ProductFamily', 'Sales', 'OnPromotion', 'Year',
       'Month', 'Day', 'DayOfWeek', 'IsPerishable', 'IsHoliday', 'OilPrice'],
      dtype='object')
----------------------------------Data Types-----------------------------------
date             datetime64[ns]
Store                     int64
ProductFamily            object
Sales                   float64
OnPromotion               Int64
Year                      int32
Month                     int32
Day                       int32
DayOfWeek                 int32
IsPerishable              int64
IsHoliday               float64
OilPrice                float64
dtype: object
-------------------------------Missing Values----------------------------------
date             0
Store            0
ProductFamily    0
Sales            0
OnPromotion      0
Year             0
Month            0
Day              0
DayOfWeek        0
IsPerishable     0
IsHoliday        0
OilPrice         0
dtype: int64
-------------------------------NULL values-------------------------------------
date             0
Store            0
ProductFamily    0
Sales            0
OnPromotion      0
Year             0
Month            0
Day              0
DayOfWeek        0
IsPerishable     0
IsHoliday        0
OilPrice         0
dtype: int64
------------------------------Shape Of Data------------------------------------
(3008016, 12)
-------------------------Unique values per categorical column-------------------

Column 'ProductFamily' unique values:
['AUTOMOTIVE' 'BABY CARE' 'BEAUTY' 'BEVERAGES' 'BOOKS' 'BREAD/BAKERY'
 'CELEBRATION' 'CLEANING' 'DAIRY' 'DELI' 'EGGS' 'FROZEN FOODS' 'GROCERY I'
 'GROCERY II' 'HARDWARE' 'HOME AND KITCHEN I' 'HOME AND KITCHEN II'
 'HOME APPLIANCES' 'HOME CARE' 'LADIESWEAR' 'LAWN AND GARDEN' 'LINGERIE'
 'LIQUOR,WINE,BEER' 'MAGAZINES' 'MEATS' 'PERSONAL CARE' 'PET SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'POULTRY' 'PREPARED FOODS' 'PRODUCE'
 'SCHOOL AND OFFICE SUPPLIES' 'SEAFOOD']
===============================================================================

In [30]:
# Basic EDA
print("====================================Merged Test Data====================================")
basic_eda(test_merged)

====================================Merged Test Data====================================
            date  Store               ProductFamily  OnPromotion  Year  Month  \
0     2017-08-16      1                  AUTOMOTIVE            0  2017      8
1     2017-08-16      1                   BABY CARE            0  2017      8
2     2017-08-16      1                      BEAUTY            2  2017      8
3     2017-08-16      1                   BEVERAGES           20  2017      8
4     2017-08-16      1                       BOOKS            0  2017      8
...          ...    ...                         ...          ...   ...    ...
28507 2017-08-31     54                     POULTRY            0  2017      8
28508 2017-08-31     54              PREPARED FOODS            0  2017      8
28509 2017-08-31     54                     PRODUCE            1  2017      8
28510 2017-08-31     54  SCHOOL AND OFFICE SUPPLIES            0  2017      8
28511 2017-08-31     54                     SEAFOOD            0  2017      8

       Day  DayOfWeek  IsPerishable  IsHoliday  OilPrice
0       16          2             0        0.0     46.80
1       16          2             0        0.0     46.80
2       16          2             0        0.0     46.80
3       16          2             0        0.0     46.80
4       16          2             0        0.0     46.80
...    ...        ...           ...        ...       ...
28507   31          3             1        0.0     47.26
28508   31          3             1        0.0     47.26
28509   31          3             1        0.0     47.26
28510   31          3             0        0.0     47.26
28511   31          3             1        0.0     47.26

[28512 rows x 11 columns]
----------------------------------INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           28512 non-null  datetime64[ns]
 1   Store          28512 non-null  int64
 2   ProductFamily  28512 non-null  object
 3   OnPromotion    28512 non-null  Int64
 4   Year           28512 non-null  int32
 5   Month          28512 non-null  int32
 6   Day            28512 non-null  int32
 7   DayOfWeek      28512 non-null  int32
 8   IsPerishable   28512 non-null  int64
 9   IsHoliday      28512 non-null  float64
 10  OilPrice       28512 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(2), int32(4), int64(2), object(1)
memory usage: 2.0+ MB
None
----------------------------------Columns--------------------------------------
Index(['date', 'Store', 'ProductFamily', 'OnPromotion', 'Year', 'Month', 'Day',
       'DayOfWeek', 'IsPerishable', 'IsHoliday', 'OilPrice'],
      dtype='object')
----------------------------------Data Types-----------------------------------
date             datetime64[ns]
Store                     int64
ProductFamily            object
OnPromotion               Int64
Year                      int32
Month                     int32
Day                       int32
DayOfWeek                 int32
IsPerishable              int64
IsHoliday               float64
OilPrice                float64
dtype: object
-------------------------------Missing Values----------------------------------
date             0
Store            0
ProductFamily    0
OnPromotion      0
Year             0
Month            0
Day              0
DayOfWeek        0
IsPerishable     0
IsHoliday        0
OilPrice         0
dtype: int64
-------------------------------NULL values-------------------------------------
date             0
Store            0
ProductFamily    0
OnPromotion      0
Year             0
Month            0
Day              0
DayOfWeek        0
IsPerishable     0
IsHoliday        0
OilPrice         0
dtype: int64
------------------------------Shape Of Data------------------------------------
(28512, 11)
-------------------------Unique values per categorical column-------------------

Column 'ProductFamily' unique values:
['AUTOMOTIVE' 'BABY CARE' 'BEAUTY' 'BEVERAGES' 'BOOKS' 'BREAD/BAKERY'
 'CELEBRATION' 'CLEANING' 'DAIRY' 'DELI' 'EGGS' 'FROZEN FOODS' 'GROCERY I'
 'GROCERY II' 'HARDWARE' 'HOME AND KITCHEN I' 'HOME AND KITCHEN II'
 'HOME APPLIANCES' 'HOME CARE' 'LADIESWEAR' 'LAWN AND GARDEN' 'LINGERIE'
 'LIQUOR,WINE,BEER' 'MAGAZINES' 'MEATS' 'PERSONAL CARE' 'PET SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'POULTRY' 'PREPARED FOODS' 'PRODUCE'
 'SCHOOL AND OFFICE SUPPLIES' 'SEAFOOD']
===============================================================================

In [31]:
# Save new datasets to files
stores.to_csv('stores_updated.csv', index=False)
holidays.to_csv('holidays_updated.csv', index=False)
products.to_csv('items_updated.csv', index=False)
train_merged.to_csv('train_merged_0.csv', index=False)
test_merged.to_csv('test_merged_0.csv', index=False)
oil.to_csv('oil_updated.csv', index=False)